# =========================================================
# Versions
# =========================================================
PROMETHEUS_VERSION=v3.14.0
GRAFANA_VERSION=13.2.2
ALERTMANAGER_VERSION=v0.31.0
NODE_EXPORTER_VERSION=v1.9.1
BLACKBOX_EXPORTER_VERSION=v0.27.0

# =========================================================
# Grafana
# =========================================================
# Password for the grafana user.
# Generate with: openssl rand -hex 24
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=REPLACE_WITH_RANDOM_HEX

# =========================================================
# SMTP
# =========================================================
# SMTP server configuration for sending emails from Alertmanager.
SMTP_HOST=smtp.gmail.com:587
SMTP_FROM=alerts@example.com
SMTP_USERNAME=your-email@gmail.com
SMTP_PASSWORD=app-specific-password
# Destination email:
ALERT_RECEIVER_EMAIL=your-personal-email@gmail.com

# =========================================================
# Slack
# =========================================================
# Slack webhook URL for sending alerts to a Slack channel.
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/T00000000/B00000000/XXXXXXXXXXXXXXXXXXXXXXX