# =========================================================
# Versions
# =========================================================
PROMETHEUS_VERSION=v3.14.0
GRAFANA_VERSION=13.2.2

# =========================================================
# Grafana
# =========================================================
# Password for the grafana user.
# Generate with: openssl rand -hex 24
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=REPLACE_WITH_RANDOM_HEX