HOMEPAGE_PORT=
HOMEPAGE_ALLOWED_HOSTS=
PUID=
PGID=
HOMEPAGE_VAR_PROXMOX_HOST=
HOMEPAGE_VAR_PROXMOX_USERNAME
HOMEPAGE_VAR_PROXMOX_PASSWORD=
#--- Portainer Variables ---
HOMEPAGE_VAR_PORTAINER_KEY=
HOMEPAGE_VAR_PORTAINER_URL=
HOMEPAGE_VAR_PORTAINER_ENV_NUMBER=  # Adjust to your actual Portainer environment ID number
